@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans overflow-x-hidden;
    font-family: "Inter", sans-serif;
  }

  :root {
    --background: 190 43% 97%;
    --foreground: 240 9% 80%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 234 25% 22%;
    --primary-foreground: 210 20% 98%;

    --secondary: 236 14% 43%;
    --secondary-foreground: 210 20% 98%;

    --disabled: 240 9% 80%

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 236 14% 43%;

    --input: 220 13% 91%;
    
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
